body {
	padding : 16px;
	margin : 16px;
	background : #eceff1;
	color : #212121;
}

.navbar {
	padding : 0px;
	margin : 0px;
	position: fixed;
    top : 0;
    left : 0;
}

.color-primary {
    background: #f4511e;
}

.message-space {
	margin-top : 120px; 
}

.messenger {
	position: absolute; 
    bottom : 0px;
    left : 0px;
    width : 100%; 
}

.message-area {
	height : 210px;
	overflow : scroll;
}

.message-box {
	height : 390px; 
}

.message {
	width : 100%; 
	color : #ffffff; 
	padding : 2px; 
	margin : 2px;
}

.message-right {
	align-content : right;
	background : #4a148c;
}

.message-left {
	align-content : left;
	background : #4caf50;
}

.cursor-pointer {
	cursor : pointer;
}

.info-box {
	height : 390px; 
	overflow : scroll;
}

.hidden { 
	display : none;
}

.center {
  position : fixed;
  top : 50%;
  left : 50%;
  transform: translate(-50%,-50%);
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}