<div class='blue-text flow-text' style='padding:16px;margin:16px;'>
	<center>
		Likely Messenger
	</center>
</div>
<div class='center'>
	<center>
		<button id='google-login' ng-click='googleLogin()' class='loginBtn loginBtn--google' ng-click='googleLogin()'>
			Login with Google
		</button>
	</center>
	<!--center ng-show='showLoginPreloader' class='red-text'>
		<preloader></preloader>
		<br/>
		Do not close the page yet!
	</center>
	<p class='flow-text'>
		Please log in through facebook. This will allow us to find people similar to you in terms of facebook posts and likes.
	</p>
	<h7 class='green-text'>
		Unfortunately we were unable to attain the required permissions to extract facebook posts and likes from it's graph API. Therefore we are using mock data sets to demonstrate the objective of our project. That said, FB login functionality is working fine, we are just not able to extract posts and likes from the Graph API due to data privacy issues and facebook policies.
	</h7-->
</div>