<nav class='navbar color-primary'>
    <div class='nav-wrapper'>
    	<a href='#' onClick='return false;' class='brand-logo'>
    		Likely Messenger
    	</a>
    	<ul class='right'>
        	<li>
        		<a href='#' onClick='return false;' id='settings' data-activates='settings-dropdown'>
        			<i class='material-icons'>settings</i>
        		</a>
        	</li>
        	
      	</ul>
    </div>
</nav>
<div class='message-space'>
	<div class='row'>
		<div class='col m6'>
			<div class='card white info-box'>
	            <div class='card-content'>
	              	<div class='input-field'>
		          		<input placeholder='Search by email' ng-change='userSearch(userSearchEmail)' ng-model='userSearchEmail' id='email' type='text'>
		          		<label for='email'>Search by email</label>
		        	</div>
		        	<ul class='collection avatar cursor-pointer' ng-repeat='user in searchedUsers'>
						<li class='collection-item' >
							<div ng-click='setChat(user.user_id, user.name)'>
								<p class='blue-text'>
									{{user.name}}
								</p>
								<p>
									{{user.email}}
								</p>
							</div>
						</li>
					</ul>
					<div id='suggestions' ng-show='showSuggestions'>
						<p class='blue-text'>
							User Suggestion
						</p>
						<p>
							Tags
						</p> 
						<span class='chip' ng-repeat='tag in suggestionTags'>
							{{tag}}
						</span>
						<br/>
						<p>
							Users
						</p> 
						<span class='chip cursor-pointer' ng-repeat='user in suggestionUsers' ng-click='setChat(user.user_id, user.name)'>
							{{user.name}}
						</span>
					</div>
					<!--ul class='collection avatar cursor-pointer' ng-repeat='notif in notifs'>
						<li class='collection-item' ng-click='setChat(notif.user_id, user.name)'>
							<p class='blue-text'>
								{{}}
							</p>
							<p>
								{{notif.email}}
							</p>
						</li>
					</ul-->
	            </div>
          	</div>
		</div>
    	<div class='col m6'>
    		<div class='card white message-box' >
	            <div class='card-content' ng-show='showChatBox'>
	            	<p class='blue-text'>
						{{chatName}}
					</p>
					<div class='row messenger' >
						<div class='message-area' >
							<div ng-repeat='message in chatMessages'>
								<div class='message {{message.align}}'>
									<b>
										{{message.tag}}
									</b>
									<br/>
									{{message.message}}
								</div>
							</div>
						</div>
						<div class='input-field col m10'>
			          		<input placeholder='Message' id='message' type='text' ng-model='msg'>
			        	</div>
			        	<div class='col m1'>
 							<a class='btn-floating teal' ng-click='message(msg)'>
    							<i class='material-icons right'>send</i>
 							</a>
			        	</div>
		        	</div>
	            </div>
          	</div>
    	</div>
    </div>
</div>
<ul id='settings-dropdown' class='dropdown-content'>
	<li>
		<a  href='#' onClick='return false;'>
			{{user.name}}
		</a>
	</li>
	<li>
		<a  href='#' onClick='return false;'>
			{{user.email}}
		</a>
	</li>
	<li class='divider'></li>
	<!--li>
		<a  href='#' ng-click='sessionLogin()' onClick='return false;'>
			Update Session
		</a>
	</li-->
	<li>
		<a  href='#' ng-click='logout()' class='red-text' onClick='return false;'>
			Logout
		</a>
	</li>
</ul>
<script>
	$('#settings').dropdown({
		constrain_width: false
	});
</script>
